## Project
/public/hot
/public/storage
/storage/*.key
/vendor
.env
#.env.backup (unused)
#.phpunit.result.cache (unused)
#Homestead.json (unused)
#Homestead.yaml (unused)

## Node.js & Yarn
resources/sass/node_modules
npm-debug.log
yarn-error.log

## NetBeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

## VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace