.flex-container {
	display: flex;
	align-items: stretch;
	margin-left: 20%;
}
.flex-container > div {
	background-color: ;
	text-align: center;
}
#info {
	margin-left: 10%;
}
#tabs {
	margin-left: 20%;
	margin-right: 80%;
	color: white;
}
th {
	background-color: #012169;
	color: white;
}
h2, h1, label {
	text-align: center;
	color: black;
}

#info-card {
	font-size: 28px;
}
.tooltiptext {
	visibility: hidden;
	display: none;
}
#cosa:hover .tooltiptext {
	z-index: 1;
	visibility: visible;
	display: block;
	opacity: 1;
}
.flag {
	width: 25px;
	height: 25px;
}
.flex-container-main{
	display: flex;
	align-items: stretch;
	margin-top: 5%;
	margin-left: 2%;
	justify-content: space-between;
}
.flex-container-main > div {
	width: 50%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 10px;
	text-align: left;
}
.img-main{
	height: 75%;
	width: 70%;
	color:red;
}
.titels{
	text-align: center;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
.titulos{
	color: #012169;
}
h3, h4 {
	text-align: center;
	color: black;
}
.menu_user{
	margin-left: 30%;
}